.App {
  text-align: center; 
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

footer {
  font-size: 1.7818727725rem;
  color: white;
  background-color: #dde5f723;
  padding: 0.75rem;
  left: 0;
}

.about {
  background-color: rgb(45, 62, 106);
  padding: 1rem;
}

.about *{
  max-width: 65ch;
  color: white;
  margin: 0.25rem auto;
}
.about h4 {
  font-size: 2rem;
}